faiss-cpu
fastapi
filelock
Flask
Flask-Cors
langchain
langchainplus-sdk
lockfile
MarkupSafe
marshmallow
msgpack
multidict
mypy-extensions
ngrok
numexpr
numpy
openai
openapi-schema-pydantic
packaging
pg8000
psycopg2-binary
pydantic
pydantic-core
pylev
pyodbc
pyparsing
pyseto
python-dateutil
python-lsp-jsonrpc
python-multipart
PyYAML
regex
requests
requests-toolbelt
SQLAlchemy
tqdm
typer
typing-extensions
ujson
urllib3
uvicorn
virtualenv